<h1>Random Results</h1>

<h2>Minimum</h2>
<p> <%= @min %>
</p>

<h2>Maximum</h2>
<p> <%= @max %>
</p>

<h2>Random Number</h2>
<p> <%= @random %>
</p>

<a href="/random/new">Pick another random number</a>
