<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
    <label for="blank_number">
      Enter a number
    </label>
    <input id="blank_number" type="text" name="user_number">
  </div>
  <button>Calculate square</button>
</form>

<a href="/square/new">Calculate another square</a>
